img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: rgb(125, 64, 20);
}

a + a {
  margin: 10px;
}

a + form {
  margin : 10px;
}

h1 {
text-decoration: underline;
}

div#webPage{
  margin-top:5%;
  text-align:center;
  position:relative;
}

li{
  color: rgb(0, 0, 0);
  text-align:center;
  list-style:none;
}

form#searchBar{
  margin: auto;
  position: relative;
  text-align:right;
}


.websiteName{
text-align:center;
color: rgb(0, 165, 168);
position:relative;
text-decoration: none;
}

div#sortOptions{
  border-radius: 0px;
  background-color: rgb(0, 0, 0);
  width: auto;
  margin: auto;
  border: 1px solid red; 
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
}

a#sortOptions{
  text-align:center;

} 

.topBarUnclicked {
  color: rgb(255, 0, 0);
}
.topBarClicked {
  color: rgb(70, 157, 24);
} 

.darkMode{
  color: rgb(0, 0, 0);
};

.lightMode{
  color: rgb(0, 0, 0);
}

