body {
  margin: 0% 50% ;
  background-color: rgb(124, 124, 124);
}

body h1 {
  color: rgb(255, 255, 255);
}

#sortOptions{
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);

  margin: 1em;
  padding: 1em;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topBarUnclicked {
  color: rgb(255, 0, 0);
}
.topBarClicked {
  color: rgb(70, 157, 24);
}

.hidden {
  visibility: hidden;
}